.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 650px;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper {
  border-bottom: 1px solid black;
  overflow: hidden;
}

.wrapper .question-container {
  width: 100%;
  text-align: left;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.question-container.active {
  color: #AB18EA;
  background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
}

.wrapper .question-container:hover {
  background-image: linear-gradient(90deg,transparent,rgba(0,0,0,0.04),transparent);
}

.wrapper .arrow {
  font-size: 1.2rem;
  transition: .3s ease-in-out;
}

.arrow.active {
  transform: rotate(180deg);
}

.wrapper .answer-container {
  padding: 0 1rem;
  transition: height .3s ease-in-out;
}

.wrapper .answer-content {
  padding: 1rem 0;
  font-size: 16px;
  font-style: italic;
  color: #333;
}