.buttonMulti {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  margin-top: 2rem;
  border: 2px solid #AB18EA;
  color: #AB18EA;
  border-radius: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  transition: color .3s;
}

.buttonMulti:hover {
  background-color: #AB18EA;
  color: white;
}